@import "./_variables.scss";

.blog-frame-1 {
    position: absolute;
    width: 527px;
    height: 283px;
    left: 550px;
    top: 180px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: no-repeat url("/assets/blog/frame-1-light.png");
}

.dark .blog-frame-1 {
    position: absolute;
    width: 527px;
    height: 283px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: no-repeat url("/assets/blog/frame-1.png");
}

.blog-frame-2 {
    position: absolute;
    width: 185px;
    height: 1265px;
    left: 0px;
    top: 400px;
    background: no-repeat url("/assets/blog/frame-2.png");
}

.dark .blog-frame-2 {
    background: no-repeat url("/assets/blog/frame-2.png");
}

.blog-frame-3 {
    position: absolute;
    width: 185px;
    height: 1265px;
    top: 1200px;
    left: 0px;
    background: no-repeat url("/assets/blog/frame-2.png");
}

.dark .blog-frame-3 {
    position: absolute;
    width: 185px;
    height: 1265px;
    left: 0px;
    background: no-repeat url("/assets/blog/frame-2.png");
}

.blog-blur-1 {
    position: absolute;
    width: 730px;
    height: 820px;
    top: 0px;
    left: 0px;
    background: no-repeat url("/assets/blog/blur-1.svg");
}

.dark .blog-blur-1 {
    background: no-repeat url("/assets/blog/blur-1.svg");
}

.blog-blur-2 {
    position: absolute;
    width: 512px;
    height: 1419px;
    top: 2000px;
    right: 0px;
    background: no-repeat url("/assets/blog/blur-2.svg");
}
.dark .blog-blur-2 { 
    background: no-repeat url("/assets/blog/blur-2.svg");
}

@media screen and (max-width: $lg) {
    .blog-frame-1 {
        transform: scale(0.8);
        left: 150px;
    }
}

@media screen and (max-width: $md) {
    .blog-frame-1 {
        transform: scale(0.4);
        transform-origin: center left;
        top: 100px;
        left: 150px;
    }
    .blog-frame-2 {
        transform: scale(0.5);
        transform-origin: center left;
        top: 150px;
    }
    .blog-frame-3 {
        transform: scale(0.5);
        transform-origin: center left;
        top: 600px;
    }

    .blog-blur-1 {
        transform: scale(0.5);
        transform-origin: top left;        
    }
    .blog-blur-2 {
        transform: scale(0.5);
        transform-origin: center right;        
    }
}


@media screen and (max-width: $xs) {
    .blog-frame-1 {
        transform: scale(0.4);
        transform-origin: center left;
        top: 100px;
        left: 50px;
    }
    .blog-frame-2 {
        transform: scale(0.5);
        transform-origin: center left;
        top: 150px;
    }
    .blog-frame-3 {
        transform: scale(0.5);
        transform-origin: center left;
        top: 600px;
    }

    .blog-blur-1 {
        transform: scale(0.4);
        transform-origin: top left;        
    }
    .blog-blur-2 {
        transform: scale(0.5);
        transform-origin: center right;        
    }
}
